@use "../../../styles/variables.scss";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section {
    gap: 6px;
    flex-grow: 1;
    background-color: variables.$gray-bg;
  }

  .form-section {
    flex-grow: 0.3;
    padding: 0 35px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30.46px;
      margin-bottom: 300px;
    }

    .division-line {
      padding: 10px 35px;
    }

    button {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &.btn-primary {
        background-color: variables.$primary-color;
        color: #ffff;
        width: 410px;
        height: 50px;
        box-shadow: 0px 8px 12px
          rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
      }

      &.btn-secondary {
        border: variables.$primary-color 1px solid;
        color: variables.$primary-color;
        width: 410px;
        height: 50px;
      }
    }
  }
}
